html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-align: center;
}

button {
  margin: 50px;
  padding: 10px 25px;
  font-size: 40px;
  text-transform: uppercase;
  background-color: transparent;
  border: 4px solid black;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #000;
  color: white;
}

button.larger:hover~h1 {
  font-size: 160px;
}

button.smaller:hover~h1 {
  font-size: 40px;
}

button.border:hover~h1 {
  border: 40px solid black;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border: 0 solid black;
  transition: 0.3s;
}